<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=.;initial catalog=InnovixWebsite;User ID=sa;Password=red sea sql;persist security info=False;packet size=4096" />
    <add key="ContactUsEmail" value="rvg@estate-alliance.com,margo@estate-alliance.com,estatealliance2@gmail.com" />
    <add key="FromEmail" value="noreply@InnovixWebsite.com" />
  </appSettings>
  <connectionStrings>
    <add name="InnovixWebsiteConnection" connectionString="data source=.;initial catalog=InnovixWebsite;User ID=sa;Password=red sea sql;persist security info=False;packet size=4096;" />
  </connectionStrings>
  <system.web>
    <!--<caching>
            <sqlCacheDependency enabled="true">
                <databases>
                    <add connectionStringName="InnovixWebsite" name ="InnovixWebsite" pollTime="5000"/>
                </databases>
            </sqlCacheDependency>
        </caching>-->
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms" />
    <customErrors mode="Off" defaultRedirect="~/error/generic.aspx">
      <error statusCode="403" redirect="~/error/403.htm" />
      <error statusCode="404" redirect="~/error/404.htm" />
    </customErrors>
    <pages enableViewState="false" clientIDMode="Static" />
		<httpRuntime maxRequestLength="16384" executionTimeout="3600" requestLengthDiskThreshold="16384" requestValidationMode="2.0" />
		<httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="noreply@alsaraya-resort.net/">
        <network host="mail.alsaraya-resort.net" password="Pass4Saraya!" userName="noreply@alsaraya-resort.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
		<!-- uncomment the following block for IIS 7.5 or earlier -->
		<!--<staticContent>
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>-->
  </system.webServer>
  <dotless minifyCss="false" cache="true" web="false" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>